/* styles.css*/

body {
    min-height: 100vh;
    margin: 0;
}

header {
    color: #f9faf8;
    background-color: #1f2937;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 10px;
}

a, footer, .title-text {
    font-size: 18px;
    color: #e5e7eb;
}

img {
    width: 200px;
    height: 200px;
}

.info1 {
    background-color: #1f2937;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.title-text {
    margin: 10px 0;
}
.img-title {
    width: 500px;
    height: 300px;
}

.title-box {
    padding: 15px;
}

button {
    color: #f9faf8;
    padding: 5px 20px;
}

button, .sign-up-box {
    background-color: #3882f6;
}

.info2 {
    display: flex;
}

.info3 {
    padding: 100px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    display: flex;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-weight: bold;
    font-size: 36px;
}

.info4 {
    margin: 75px;
    display: flex;
}

footer {
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
